<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>locdq.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>locdq.controllers.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>locdq.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>locdq.controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>locdq.controllers.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>locdq.controllers.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>locdq.controllers.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <servlet-class>locdq.controllers.DeleteRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <servlet-class>locdq.controllers.AcceptRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>locdq.controllers.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequestServlet</servlet-name>
        <url-pattern>/DeleteRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <url-pattern>/AcceptRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/ResourceServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>P0016</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <display-name>Archetype Created Web Application</display-name>
</web-app>
